<%= form_with model: [@category, @task], local: true do |form| %>
    <% if @task.errors.any? %>
      <div>
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-container">
      <%= form.text_field :name %>
      <div class="form-submit">
        <%= form.submit %>
      </div>
    </div>
<% end %>