<%= form_with model: @category, local: true do |form| %>
    <% if @category.errors.any? %>
      <div>
        <h2><%= @category.errors.count %> Errors: </h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <br/>
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>